<%- include('header') %>
    <div class="result">
        <% if (error) { %> 
            <%= error %>
        <% } else{ %>
            Cotação: <%= cotacao %> <br />
            Quant: <%= quantidade %> <br />
            Result: R$<%= conversao %> 
        <% } %>
    </div>
    <%- include('footer') %>